.content-box{
    margin: 20rem auto;
    width: 30rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

#word{
    height: 3rem;
    width: 26rem;
    padding: 1rem;
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(28, 199, 133);
}

h2{
    margin: 10px;
}

a{
    text-decoration: none;
}

#back{
    padding: 1rem 12rem;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(159, 28, 199);
}
